<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AskHitomi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/question.css">

</head>
<body>

{% include "include/navbar.html" %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-9 pr-5 mt-5">
                <div class="question-card container bg-light shadow-sm">
                    <div class="row">
                        <div class="col-3 left-side">
                            <img src="../static/img/hitomi.jpg">
                            <div class="like-dislike">
                                <button class="upvote-btn btn btn-primary btn-circle"><i class="fas fa-chevron-up"></i>
                                </button>
                                <i class="post-rating">0</i>
                                <button class="downvote-btn btn btn-primary btn-circle"><i
                                        class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="col-9 right-side">
                            <h2 class="question-title"><a href="question.html">Why do you store feed in SQL?</a></h2>
                            <p class="question-description">I think Postgres the best database!</p>
                            <div class="answers-and-tags">
                                <a href="{% url 'question_page' pk=question.id %}"
                                   class="link-to-answers">Answers({{ question.num_of_answers }})</a>
                                <p class="question-tags">Tags:
                                    {% for t in question.tags %}
                                        <a href="{% url 'tag_questions' tag=t %}">{{ t }}</a>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="answer-card container bg-light shadow-sm">
                    <div class="row question other">

                        <div class="col-2 left-side">
                            <div class="other">
                                <img src="../static/img/hitomi2.jpg" class="other">
                            </div>
                            <div class="like-dislike">
                                <button class="upvote-btn btn btn-primary btn-circle"><i
                                        class="fas fa-chevron-up"></i>
                                </button>
                                <i class="post-rating">0</i>
                                <button class="downvote-btn btn btn-primary btn-circle"><i
                                        class="fas fa-chevron-down"></i></button>
                            </div>

                        </div>

                        <div class="col-10 right-side">
                            <p class="question-description">A really good answer that helps solve the
                                problem</p>
                            <div class="form-check mark-correct">
                                <input class="form-check-input" type="checkbox" id="correct-checkbox-2">
                                <label class="form-check-label" for="correct-checkbox-2">
                                    Correct!
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="answer-card container bg-light shadow-sm">
                    <div class="row other question">
                        <div class="col-2 left-side">
                            <img src="../static/img/hitomi3.jpg" alt="Avatar">
                            <div class="like-dislike">
                                <button class="upvote-btn btn btn-primary btn-circle"><i class="fas fa-chevron-up"></i>
                                </button>
                                <i class="post-rating">0</i>
                                <button class="downvote-btn btn btn-primary btn-circle"><i
                                        class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="col-10 right-side">
                            <p class="question-description">A really good answer that helps solve the problem</p>
                            <div class="form-check mark-correct">
                                <input class="form-check-input" type="checkbox" id="correct-checkbox-3">
                                <label class="form-check-label" for="correct-checkbox-3">
                                    Correct!
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <form>
                    <div class="enter-answer form-group">
                        <textarea class="form-control" id="answer" placeholder="Enter yout answer here..."
                                  required></textarea>
                        <button class="btn btn-success" type="submit">Answer</button>
                    </div>
                </form>
            </div>

            <aside id="aside-info" class="col-3">
                <h2>Popular tags</h2>
                <div class="bg-light shadow-sm" id="tags-container">
                    <ul class="tags-list">
                        <li><a href="index_for_tag.html">Django</a></li>
                        <li><a href="index_for_tag.html">numpy</a></li>
                        <li><a href="index_for_tag.html">Flask</a></li>
                        <li><a href="index_for_tag.html">MySQL</a></li>
                        <li><a href="index_for_tag.html">Python</a></li>
                        <li><a href="index_for_tag.html">Android</a></li>
                        <li><a href="index_for_tag.html">POSTGRES</a></li>
                        <li><a href="index_for_tag.html">iOS</a></li>
                        <li><a href="index_for_tag.html">Linux</a></li>
                    </ul>
                </div>

                <h2>Best Members</h2>
                <div class="bg-light shadow-sm" id="best-users-container">
                    <ul>
                        <li><a href="#">cat_Fill</a></li>
                        <li><a href="#">Hitomi</a></li>
                        <li><a href="#">Queen_Meow</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</main>

<footer class="page-footer bg-light footer">
    <div class="footer-copyright text-center">
        <span class="text-muted">Author: Marina Novikova АПО-11</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d8773369b4.js" crossorigin="anonymous"></script>
<script src="../static/js/index.js"></script>

</body>
</html>