.answer-card {
    position: relative;
    margin-bottom: 30px;
}

.question-description {
    margin-top: 15px;
}

.other img{
width: 60px;
height: 60px;
}

hr {
    border: none; /* Убираем границу */
    color: grey solid;
    height: 2px;
   }
.mark-correct {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

#answer {
    min-height: 100px;
    margin-bottom: 20px;
}
