{% extends 'include/base.html' %}

{% load static %}

{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/ask.css' %}">
{% endblock link-css %}

{% block main-headings %}
    <h2>New question</h2>
{% endblock main-headings %}

{% block content %}
    <div class="container bg-light shadow-sm mb-3">
        <form action="{% url 'question_page' pk=1 %}" id="create-form" class="needs-validation" novalidate>
            <div class="form-group row p-3">
                <label for="input-title" class="col-sm-3 col-form-label"><h4>Title</h4></label>
                <div class="col-sm-9">
                    {{ form.title }}
                    <div class="invalid-feedback">
                        Input this field
                    </div>
                </div>
            </div>

            <div class="form-group row p-3">
                <label for="{{ form.content.id_for_label }}" class="col-sm-3 col-form-label"><h4>Text</h4></label>
                <div class="col-sm-9">
                    {{ form.content }}
                    <div class="invalid-feedback">
                        Input this field
                    </div>
                </div>
            </div>

            <div class="form-group row p-3">
                <label for="{{ form.tags.id_for_label }}" class="col-sm-3 col-form-label"><h4>Tags</h4></label>
                <div class="col-sm-9">
                    {{ form.tags }}
                    <div class="invalid-feedback">
                        Input this field
                    </div>
                </div>
            </div>

            <button id="create-button" class="btn btn-success btn-lg m-3" type="submit">Ask!</button>
        </form>
    </div>
{% endblock content %}

