{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between bg-dark navbar-dark ">
        <a id="main_label" class="navbar-brand" href='{% url 'root' %}'> AskHitomi</a>
        <div class="input-form" id="search-box">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a class="btn btn-outline-success button" href= "{% url 'ask' %}" type="submit">Ask</a>
            </form>
        </div>

        <div id="user-tools">
            <img id="user-pic" src="{% static "img/profile-pic.jpg" %}" alt="Аватар"/>
            <div id="user-dropdown" class="dropdown">
                <a class="dropdown-toggle" href="#" id="user-menu" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <h4> cat Fill</h4>
                </a>
                <div class="dropdown-menu" aria-labelledby="user-menu">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                    <a class="dropdown-item" href="#">Exit</a>
                </div>
            </div>
        </div>
    </nav>
</header>